[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PoissonBinomial"]
	path = PoissonBinomial
	url = https://github.com/fj86/poissonbinomial
